.footer {
    background-color: #2c2c2c;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
@media (min-width: 769px) {
    .footer {
        background-color: #2c2c2c;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
    }
}
.footer__container {
    max-width: 1440px;
    height: 50vh;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 769px) {
    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        padding: 80px;
    }
}
@media (min-height: 1000px) {
    .footer__container {
        height: 30vh;
    }
}
.footer__logo-container {
    margin: 0 0 36px;
}
@media (min-width: 769px) {
    .footer__logo-container {
        margin: 0;
    }
}
.footer__logo-link {
    color: white;
    font-size: 48px;
    font-family: orbitron, sans-serif;
    text-transform: uppercase;
}
.footer__contact-social-media {
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
@media (min-width: 769px) {
    .footer__contact-social-media {
        margin: 0;
    }
}
.footer__social-media-container {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}
.footer__social-media-link {
    color: inherit;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
